body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main{
    padding: 1rem;
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
}
.main-header__nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header__item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header__item{
    margin: 0 1.5rem;
    padding: 0;
}
.main-header a{
    text-decoration: none;
    color: black;
}
.main-header a:hover,
.main-header a:active,
.main-header a.active{
    color: #3e00a1;
}